:root {
    --complementary-color: hsl(14, 86%, 42%);
    --primary-color: hsl(30, 50%, 97%);
    --details-color: hsl(159, 69%, 38%);

    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}
* {
    font-family: "Red Hat Text", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--primary-color);
}
.context-header {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--rose-900);
    margin: 0.5em 0 0.75em 0.6em;
}
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2em;
}
.product-box {
    width: 87%;
    margin: 0 auto;
}
.product-box__image-n-button {
    position: relative;
    margin-bottom: 2.2em;
    border-radius: 1.2em;
    border: 2.5px solid transparent;

    transition: border 200ms ease-in-out;
}
.product-box__image-mobile {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}
/* media */
.product-box__image-tablet {
    display: none;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}
.product-box__image-desktop {
    display: none;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}
.image-add-border {
    border: 2.5px solid var(--complementary-color);
}
.product-box__button {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translate(50%, -50%);

    background-color: var(--primary-color);

    width: 50%;

    padding: 0.7em 1.6em;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--rose-500);
    border-radius: 2.1rem;

    font-size: max(0.7rem, 3.5vw);
    font-weight: 700;
    color: var(--rose-900);

    text-wrap: nowrap;
    cursor: pointer;

    transition: color 200ms ease-in-out, border 200ms ease-in-out, background-color 200ms ease-in-out;
}
.button-text {
    margin: none;
}
.product-box__button-toggle {
    padding: 0.8em 1em;
    cursor: auto;
    width: 50%;
    color: var(--primary-color);
    background-color: var(--complementary-color);
    border: 1px solid var(--complementary-color);
}
.hoverOn:hover {
    color: var(--complementary-color);
    border: 1px solid var(--complementary-color);
}
/* paragraphs */
.cart-image {
    width: 1.3rem;
    margin-right: 0.4em;

    transition: display 200ms ease-in-out;
}
/* add margin auto to text if not centered */
/* toggle add-to-cart button */
.decrement-quantity,
.increment-quantity {
    width: 1.20em;
    height: 1.20em;
    padding: 0.15em;
    border-radius: 50%;
    border: 1.75px solid white;
    display: none;

    transition: display 200ms ease-in-out;
}
.decrement-quantity:hover,
.increment-quantity:hover {
    cursor: pointer;
}
.decrement-quantity:active,
.increment-quantity:active {
    opacity: 0.8;
}
.product-box p {
    margin-block: 0.3rem;
}
.product-box__short-name {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--rose-400);
}
.product-box__full-name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--rose-900);
}
.product-box__price {
    font-size: 1rem;
    font-weight: 600;
    color: var(--complementary-color);
}
/* cart */
.cart {
    display: flex;
    flex-direction: column;
    background-color: white;

    width: 87%;
    margin: auto;
    margin-block: 2em;

    border-radius: 1em;
}
.cart h1 {
    color: var(--complementary-color);
    font-size: 1.5rem;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}
.empty-cart-img {
    width: 45%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1.25em;
}
.empty-cart-text {
    font-weight: 600;
    color: var(--rose-500);
    margin: auto;
    margin-bottom: 2em;
}
/* full cart */
.cart-item {
    margin: 0 1em 1em 1.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--rose-100);
    padding-bottom: 0.75rem;
}
.cart-item__name {
    color: var(--rose-900);
    font-weight: 500;
    margin-bottom: 0.45em;
}
.cart-item__quantity {
    color: var(--complementary-color);
    font-weight: 500;
    margin-right: 0.5rem;
}
.cart-item__price-apiece {
    font-size: 0.9rem;
    color: var(--rose-400);
    margin-right: 0.35rem;
}
.cart-item__price-overall {
    font-size: 0.9rem;
    color: var(--rose-400);
    font-weight: 500;
    margin-right: 0.35rem;
}
.remove-from-cart {
    width: 1.2em;
    border: 2px solid #CAAFA7;
    border-radius: 50%;
    padding: 0.1rem;
    cursor: pointer;
}
.remove-from-cart:hover {
    opacity: 0.9;
}
.lower-part-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 1rem 0 1.6rem;
    margin-left: 1.6rem;
    margin-right: 1rem;
}
.lower-part-order-total {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.order-price {
    color: var(--rose-900);
    font-weight: bold;
    font-size: 2em;
}
.carbon-section {
    margin-top: 1.25em;
    display: flex;
    text-align: center;
    width: 100%;
    color: var(--rose-900);
    background-color: var(--primary-color);
    padding-block: 1em;
    border-radius: 0.5rem;
    justify-content: center;
}
.carbon-text {
    font-size: 0.85rem;
    margin-left: 0.5em;
}
.cart-confirm-order,
.start-new-order {
    margin-block: 1.45em;
    padding-block: 0.95em;
    font-size: 1.05rem;
    
    width: 100%;
    border-radius: 2rem;
    border: 2px solid var(--complementary-color);

    background-image: url('/product-list-with-cart-main/assets/images/confirm-button-2.png');
    background-size: 200%;
    background-position: left 100% bottom 100%;
    
    color: var(--primary-color);

    transition: color 600ms ease-in-out, background-position 500ms linear;
    cursor: pointer;
}
.cart-confirm-order:hover,
.start-new-order:hover {
    color: var(--complementary-color);
    background-position: right 90% top 60%;
}
.cart-confirm-order:active,
.start-new-order:active {
    outline: 0.1px solid var(--complementary-color);
    opacity: 0.8;
}
.start-new-order {
    font-size: min(1.05rem, 4vw);
    padding-block: min(0.95em, 2.8vw);
}
/* dont forget to add start new order to quaries */
.confirmation-modal {
    display: none;
    flex-direction: column;

    max-width: 100%;
    width: 100%;
    position: fixed;
    top: 100%;
    transform: translateY(0);
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    padding: 2rem 1.6rem 0 1.6rem;

    transition: transform 400ms ease-out, display 200ms linear;
}
.confirmation-modal::backdrop {
    background-color: rgb(0 0 0 / .7);
}
.check-img {
    width: 45px;
    margin-bottom: min(1.5rem, 3vw);
}
.modal-header {
    color: var(--rose-900);
    word-spacing: 100vw;
    line-height: 1.2em;
    font-size: min(3rem, 10vw);
}
.modal-paragraph {
    color: var(--rose-400);
    margin-top: .5em;
    margin-bottom: 1.7em;
    font-size: min(1.25rem, 4vw);
}
.items-preview {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-top: min(5vw, .8rem);
    border-radius: 10px;
}
.modal__cart-item {
    display: flex;
    border-bottom: 2px solid var(--rose-100);
    margin-inline: 1.75rem;
    padding-block: min(3vw, 1rem);
    align-items: center;
    justify-content: space-between;
}
.modal__cart-item img {
    border-radius: 5px;
    width: clamp(50px, 12vw, 70px);
}
.modal__img-n-text {
    display: flex;
    align-items: center;
}
.modal__item-text{
    margin-left: 1em;
}
.modal__item-name {
    margin-bottom: 0.5em;
    color: var(--rose-900);
    font-weight: 500;
    font-size: min(1.2rem, 3.75vw);
}
.modal__quantity {
    color: var(--complementary-color);
    margin-right: 0.75em;
    font-weight: 500;
    font-size: min(1.15remm 3.7vw);
}
.modal__price-per-unit {
    color: var(--rose-400);
    font-size: min(1.1rem, 3.5vw);
}
.modal__total-price {
    color: var(--rose-900);
    font-size: min(1.25rem, 3.8vw);
    font-weight: 500;
}
.modal__total-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: min(2rem, 5vw) 1.75rem;
}
.modal__total-order span:first-child {
    color: var(--rose-900);
    font-size: min(1.2rem, 3.75vw);
}
.modal__total-order span:last-child {
    color: var(--rose-900);
    font-size: min(1.75rem, 5vw);
    font-weight: 900;
}

@media (min-width: 440px) {
    .context-header {
        font-size: 3.5rem;
        margin-left: clamp(0.1em, 2vw, 1em);
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.2em;
        column-gap: 0;
    }
    .product-box {
        width: 90%;
    }
    .product-box__image-mobile {
        display: none;
    }
    .product-box__image-tablet {
        display: block;
    }
    .product-box__button {
        width: 27vw;
        font-size: max(0.7rem, 2vw);
    }
    .cart {
        max-width: 600px;
        padding-block: 0.5em;
    }
    .cart-image {
        width: max(1.3rem, 3vw);
    }
    .product-box__short-name {
        font-size: 2vw;
    }
    .product-box__full-name {
        font-size: clamp(0.8rem, 3vw, 3rem);
    }
    .product-box__price {
        font-size: clamp(0.5rem, 3.5vw, 3rem);
    }
    .cart h1,
    .cart-item,
    .lower-part-cart {
        margin-inline: 10vw;
    }
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2em;
    }
    .product-box__button {
        width: 17vw;
        font-size: max(0.8rem, 1.3vw);
    }
    .cart {
        max-width: 600px;
        padding-block: 1em;
    }
    .cart-image {
        width: max(1.3rem, 2vw);
    }
    .product-box__short-name {
        font-size: 1.5vw;
    }
    .product-box__full-name {
        font-size: clamp(0.8rem, 2.2vw, 3rem);
    }
    .product-box__price {
        font-size: clamp(0.5rem, 2.7vw, 3rem);
    }
    .cart h1,
    .cart-item,
    .lower-part-cart {
        margin-inline: 5rem;
    }
}
@media (min-width: 1024px) {
    main {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1em;
        margin-left: clamp(2.75em, 5vw, 5em);
    }
    .context-header {
        font-size: 3rem;
        margin-top: 1.5em;
        margin-left: 0;
        /* margin: 1.75em 0 0.5em 1.85em;
        margin-left: clamp(1.25em, 5.8vw, 1.9em); */
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
        width: auto;
        column-gap: 2vw;
        margin-right: 1vw ;
        /* margin-left: clamp(2.75em, 5vw, 5em);
        margin-right: 0; */
    }
    .product-box {
        width: auto;
    }
    .product-box__image-n-button {
        border-radius: 0.7em;
    }
    .product-box__image-tablet {
        display: none;
    }
    .product-box__image-desktop {
        display: block;
    }
    .product-box__image-desktop {
        border-radius: 0.5em;
    }
    .product-box__button {
        width: 13vw;
        font-size: min(1rem, 1.3vw);
    }
    .cart-image {
        width: max(1.3rem, 1.7vw);
    }
    .product-box__short-name {
        font-size: 0.8rem;
    }
    .product-box__full-name {
        font-size: 0.95rem;
    }
    .product-box__price {
        font-size: 1.1rem;
    }
    .cart {
        max-width: 400px;
        width: 70vw;
        margin: 5em 5vw 0 1.2em;
    }
    .empty-cart-img {
        width: 35%;
    }
    .cart h1 {
        font-size: 1.25rem;
    }
    .empty-cart-text {
        font-size: min(90%, 0.9vw);
    }
    .cart h1,
    .cart-item,
    .lower-part-cart {
        margin-inline: 1rem;
    }
    .confirmation-modal {
        width: 40vw;

        top: 0;
        left: 0;
        padding-inline: 2rem;
        border-radius: 10px;
        transform: translate(0, 0);
        transform: scale(0.1);

        transition: transform 800s ease-in-out, left 800s ease-in-out, right 800s ease-in-out;
    }
    .confirmation-modal-desktop {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: scale(normal);
    }
    .check-img {
        margin-bottom: 0.75rem;
    }
    .modal-header {
        word-spacing: normal;
        line-height: normal;
        font-size: 2.75rem;
    }
    .modal-paragraph {
        font-size: 1rem;
    }
    .modal__cart-item {
        
    }
    .modal__cart-item img {
        width: 50px;
    }
    .modal__item-name {
        font-size: 1rem;
    }
}
@media (min-width: 1440px) {
    .product-box__short-name {
        font-size: 1.1rem;
    }
    .product-box__full-name {
        font-size: 1.3rem;
    }
    .product-box__price {
        font-size: 1.4rem;
    }
    .product-box__button {
        font-size: min(1.25em, 1vw);
    }
    .cart-image {
        width: 1.5vw;
    }
    .cart {
        max-width: 400px;
        width: 60vw;
    }
    .cart h1 {
        font-size: 1.5vw;
        margin-inline: 1rem;
    }
    .empty-cart-text {
        font-size: 1vw;
    }
    .cart-item__name {
        font-size: min(1.15vw, 1.25rem);
    }
    .cart-item__quantity {
        font-size: 1.2rem;
    }
    .cart-item__price-apiece,
    .cart-item__price-overall {
        font-size: 1rem;
    }
}