:root {
    --complementary-color: hsl(14, 86%, 42%);
    --primary-color: #FCF8F5;
    --details-color: hsl(159, 69%, 38%);

    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}
* {
    font-family: "Red Hat Text", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--primary-color);
}
.context-header {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--rose-900);
    margin: 0.5em 0 0.75em 0.6em;
}
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2em;
}
.product-box {
    width: 87%;
    margin: 0 auto;
}
.product-box__image-n-button {
    position: relative;
    margin-bottom: 2.2em;
}
.product-box__image-mobile {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}
/* media */
.product-box__image-tablet {
    display: none;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}
.product-box__image-desktop {
    display: none;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}
.product-box__button {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translate(50%, -50%);

    background-color: var(--primary-color);

    padding: 0.7em 1.6em;

    display: flex;
    align-items: center;

    border: 1px solid var(--rose-500);
    border-radius: 2.1rem;

    font-size: 0.9rem;
    font-weight: 600;

    text-wrap: nowrap;
}
/* paragraphs */
.product-box__button img {
    width: 1.3rem;
    margin-right: 0.4em;
}
.product-box p {
    margin-block: 0.3rem;
}
.product-box__short-name {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--rose-400);
}
.product-box__full-name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--rose-900);
}
.product-box__price {
    font-size: 1rem;
    font-weight: 600;
    color: var(--complementary-color);
}
/* cart */
.cart {
    display: flex;
    flex-direction: column;
    background-color: white;

    width: 87%;
    margin: auto;
    margin-block: 2em;

    border-radius: 1em;
}
.cart h1 {
    color: var(--complementary-color);
    font-size: 1.5rem;
    margin-top: 1em;
    margin-left: 1em;
}
.cart img {
    width: 45%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1.25em;
}
.cart p {
    font-weight: 600;
    color: var(--rose-500);
    margin: auto;
    margin-bottom: 2em;
}
@media (min-width: 440px) {
    .context-header {
        font-size: 3.5rem;
        margin-left: clamp(0.1em, 2vw, 1em);
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.2em;
        column-gap: 0;
    }
    .product-box {
        width: 90%;
    }
    .product-box__image-mobile {
        display: none;
    }
    .product-box__image-tablet {
        display: block;
    }
    .product-box__short-name {
        font-size: 2vw;
    }
    .product-box__full-name {
        font-size: clamp(0.8rem, 3vw, 3rem);
    }
    .product-box__price {
        font-size: clamp(0.5rem, 3.5vw, 3rem);
    }
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2em;
    }
    .product-box__short-name {
        font-size: 1.5vw;
    }
    .product-box__full-name {
        font-size: clamp(0.8rem, 2.2vw, 3rem);
    }
    .product-box__price {
        font-size: clamp(0.5rem, 2.7vw, 3rem);
    }
}
@media (min-width: 1024px) {
    .product-box__image-tablet {
        display: none;
    }
    .product-box__image-desktop {
        display: block;
    }
    main {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1em;
    }
    .context-header {
        font-size: 3rem;
        margin: 1.75em 0 0.5em 1.85em;
        margin-left: clamp(1.25em, 5.8vw, 1.9em);
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
        width: auto;
        margin-left: clamp(2.75em, 5vw, 5em);
        margin-right: 0;
    }
    .product-box__image-desktop {
        border-radius: 0.5em;
    }
    .product-box__short-name {
        font-size: 0.8rem;
    }
    .product-box__full-name {
        font-size: 1rem;
    }
    .product-box__price {
        font-size: 1.1rem;
    }
    .cart {
        width: 40vw;
        margin: 5em 5vw 0 1.2em;
    }
    .cart img {
        width: 35%;
    }
    .cart h1 {
        font-size: max(1.5vw, 1rem);
    }
    .cart p {
        font-size: min(90%, 0.9vw);
    }
}